
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  column-gap: 10px;
  row-gap: 10px;
}

.card-info {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
}

.img-card {
  width: 320px;
  height: 200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #c15365;
  height: 70px;
 }
 
header nav {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  font-family: "raleway";
}
header nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  margin: 5px;
}
header nav ul li a {
  color: #fdf6f3;
  text-decoration: none;
}

.logo-flor {
  align-self: flex-start;
  border-radius: 10%;
  position: sticky;
}

.hover:hover {
  text-decoration: underline;
  background-color: rgba(224, 140, 178, 0.513);
  color: #bfdbb9;
}

.titulo-principal {
  display: flex;
  justify-content: center;
  font-family: "Thasadith";
  font-style: italic;
  font-size: 22pt;
  padding: 15px;
 }


.img {
  width: 100%;
}

.titulo-sec {
  font-family: "Thasadith";
  font-style: italic;
  font-size: 18pt;
  padding: 10px;
}

p {
  font-family: "raleway";
  margin: 20px;
}

.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  column-gap: 10px;
  row-gap: 15px;
}


.titulo-principal {
  grid-column: 1/4;
  justify-self: center;
}

.titulo-principal:hover {
  color: #c15365;
  opacity: 80%;
}

.icons {
  display: flex;
  justify-content: space-around;
  transition: 3s;
}

.row {
  transition: 2000ms;
}

.col-6:hover {
  opacity: 90%;
}

.col-12:hover {
  opacity: 90%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  column-gap: 10px;
  row-gap: 10px;
}

.card-info {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  opacity: 65%;
  transition:all 2000ms;
}

.card-info:hover {
  opacity: 100%;
  transform: rotateY(360deg);
}

.img-card {
  height: 200px;
  width: 320px;
}

.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  column-gap: 10px;
  row-gap: 10px;
}


.d-block {
  width: 500px;
  height: 700px;
}

.boton {
  background-color: #bfdbb9;
  width: 70px;
  border-radius: 10%;
  border: 0cm;
}

.form-control {
  border-color: #bfdbb9;
}

.form-select {
  border-color: #bfdbb9;
}

.form-coment {
  border-color: #bfdbb9;
}


footer {
  padding: 15px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 160px;
  background-color: #c15365;
  color: #fdf6f3;
  font-size: smaller;
}
footer ul {
  list-style-type: none;
}
footer ul a {
  text-decoration: none;
  color: #fdf6f3;
}

.footer-card1 {
  grid-column: 1/3;
  align-items: center;
}

.footer-card2 {
  grid-column: 4/5;
  align-items: center;
}

@media(max-width:620px){
    
    header{
        height: 170px;
        padding: 5px;
    }

    .logo-flor{
        flex-direction: column;
    }

    header ul{
        flex-direction: column;
        font-size: smaller; 
    }

    .footer-card1{
        display: none;
    }
}
   

@media(max-width:420px){
    header{
        height: 170px;
        padding: 5px;
    }

    .logo-flor{
     width: 120px;
    }
   
    
   footer{
    font-size: x-small;
    height: 130px ;
   }

   .card-container{
    grid-template-columns: 1fr;
}

  .card-container2{
    grid-template-columns: 1fr;
  }

  .carousel-item {
    align-self: center;
  }
}
/*# sourceMappingURL=styles.css.map */
