
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Aca estilos del header*/
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #c15365;
  height: 70px;
 }
 
header nav {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  font-family: "raleway";
}
header nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  margin: 5px;
  animation: flipInX; 
  animation-duration: 2s; 
}

header nav ul li a {
  color: #fdf6f3;
  text-decoration: none;
}

.logo-flor {
  align-self: flex-start;
  border-radius: 10%;
  position: sticky;
  display: inline-block;
  margin: 0 0.5rem;
  animation: flipInX; 
  animation-duration: 2s; 
  }

.hover:hover {
  background-color: rgba(224, 140, 178, 0.513);
  color: #bfdbb9;
  border-bottom-style: solid;
  border-width: 1.5px; 
}

/*Aca estilos main-index-los h1 y h2-parrafos*/

.titulo-encabezado {
  display: flex;
  justify-content: center;
}

.titulo-principal {
  display: flex;
  justify-content: center;
  font-family: "Thasadith";
  font-style: italic;
  font-weight: bold;
  font-size: 16pt;
  padding: 25px;
  margin: 0 0.5rem;
  animation: pulse; 
  animation-duration: 1s; 
  animation-delay: 3s;
 }

 .img {
  width: 100%;
}

.titulo-sec {
  font-family: "Thasadith";
  font-style: italic;
  font-weight: bold;
  font-size: 12pt;
  padding: 10px;
}

.titulo-principal {
  grid-column: 1/4;
  justify-self: center;
}

.icons {
  display: flex;
  justify-content: space-around;
  margin: 25px;
}

.descripcion {
  padding: 20px;
  margin: 30px;
}

.descripcion-txt {
  margin: 20px;
  font-size: 12pt;
}

p {
  font-family: "raleway";
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 10pt;
}

/*Aca estilos main-ubicacion*/
.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-around;
  padding: 20px;
  column-gap: 10px;
  row-gap: 15px;
}

.dibujo-map {
  border-radius: 5%;
  width: 100%;
  height: 70%;
}

/*Aca estilos main-que hacer*/
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  column-gap: 15px;
  row-gap: 15px;
}

.card-info {
  display: flex;
  flex-direction: column;
  border: 1px solid #bfdbb9;
  border-radius: 1%;
  align-items: center;
  font-size: 10pt;
  opacity: 80%;
  animation: zoomIn;
  animation-duration: 2s;
}

.card-info:hover {
  opacity: 100%;
}

.img-card {
  height: 200px;
  width: 320px;
  align-self: center;
}

.row {
  transition: 2000ms;
}

.col-6:hover {
  opacity: 90%;
}

.col-12:hover {
  opacity: 90%;
}

/*Aca estilos main-contacto*/
.grilla-contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  column-gap: 20px;
  row-gap: 15px;
  align-content: space-around;
}

.boton {
  width: 70px;
  height: 30px;
  border-radius: 10%;
  border-style: solid;
  border-color: #bfdbb9;
  border-width: 1px;
  background-color: #eef5ec;
}

.boton:hover {
 background-color: #bfdbb9;
 border-color: grey;
 border-width: 1px;
}

form {
  font-size: 9pt; 
}

.formulario {
  border-right: 1px solid #bfdbb9;
  padding: 10px;
}

.form-control {
  border-color: #bfdbb9;
  font-size: x-small;
  background-color: #eef5ec;
}

.form-select {
  border-color: #bfdbb9;
  font-size: x-small;
  background-color: #eef5ec;
}

.form-coment {
  border-color: #b8f6aa;
  margin: 10px;
}

.datos-contacto {
  list-style-type: none;
  text-decoration: none;
  font-size: smaller;
  padding-left: 5px;
  padding-top: 5px;
}

iframe {
  margin-top: 5px;
}

/*Aca estilos footer*/
footer {
  padding: 20px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 160px;
  background-color: #c15365;
  color: #fdf6f3;
  font-size: smaller;
}
footer ul {
  list-style-type: none;
}
footer ul a {
  text-decoration: none;
  color: #fdf6f3;
}

.footer-card1 {
  grid-column: 1/3;
  align-items: center;
}

.footer-card2 {
  grid-column: 4/5;
  align-items: center;
}

@media(max-width:620px) {
    
    header {
        height: 170px;
        padding: 5px;
    }

    .logo-flor {
        flex-direction: column;
    }

    header ul {
        flex-direction: column;
        font-size: smaller; 
    }

    .footer-card1 {
        display: none;
    }
}
   

@media(max-width:420px) {
    header {
        height: 160px;
        padding: 5px;
    }

    header ul li {
        margin: 5px;
    }

    .logo-flor {
      width: 120px;
    }

    .descripcion {
      margin: 10px;
      padding: 10px;
    }
   
   footer {
      font-size: x-small;
      height: 130px ;
    }

   .card-container {
      grid-template-columns: 1fr;
    }

  .grilla {
      grid-template-columns: 1fr;
    }
  
  iframe {
      height: 300px;
      width: 350px;;
    }

  .grilla-contacto {
      grid-template-columns: 1fr; 
}

}
/*# sourceMappingURL=styles.css.map */
