.titulo-principal {
    display: flex;
    justify-content: center;
    font-family: 'Thasadith';
    font-style: italic;
    font-size: 22pt;
    padding: 15px;
}

.img {
    width: 100%;
}

.titulo-sec {
    font-family: 'Thasadith';
    font-style: italic;
    font-size: 18pt;
    padding: 10px;
}

p {
    font-family: "raleway";
    margin: 20px;
}

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 15px;
    column-gap: 10px;
    row-gap: 15px;
}

.titulo-principal {
    grid-column: 1/4;
    justify-self: center;
}

.titulo-principal:hover {
    color: map-get($paleta-colores, color-principal);
    opacity: 80%;
}
 

.icons {
    display: flex;
    justify-content: space-around;
    transition: 3s;
}

.row {
    transition: 2000ms;
}
    .col-6:hover {
     opacity: 90%
    }

    .col-12:hover {
    opacity: 90%    
    }

