$paleta-colores: (
    color-principal:#c15365,
    color-secundario:#fdf6f3,
    color-terciario:#bfdbb9
);

$fuentes: (
    menue: "raleway",
    titulo-principal: "Thasadith", 
    titulo-secundario: "Thasadith", 
    parrafo: "raleway",
);

$fuentes-tamanios: (
    titulo-principal: 16pt,
    titulo-secundario: 12pt
)
