$paleta-colores: (
    color-principal:#c15365,
    color-secundario:#fdf6f3,
);

$fuentes: (
    menue: "raleway",
    titulo-principal: "Thasadith", 
    titulo-secundario: "Thasadith", 
    parrafo: "raleway",
);

$fuentes-tamanios: (
    titulo-principal: 22pt,
    titulo-secundario: 18pt
)
